<div class="container">
  <h2 class="center">Create concert</h2>
  <div class="opaque-background">
    <div style="padding:20px 100px;">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
