<br>

<div class="container" style="opacity:0.8; background-color: black; color:white;">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="User">Username</th>
          <th data-field="Quantity">Quantity</th>
          <th data-field="Total">Total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>02/09/16</td>
        <td>Hector</td>
        <td>1,000,000 </td>
        <td>$3</td>
      </tr>
    </tbody>
  </table>
</div>
    <div class="col s5 offset-s3">
      <ul class="pagination center">
        <li class="waves-effect"><ahref="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><ahref="#!">1</a></li>
        <li class="waves-effect"><ahref="#!">2</a></li>
        <li class="waves-effect"><ahref="#!">3</a></li>
        <li class="waves-effect"><ahref="#!">4</a></li>
        <li class="waves-effect"><ahref="#!">5</a></li>
        <li class="waves-effect"><ahref="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>

</div>
