  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// .application-body{
//   background-image: url("http://i.imgur.com/9olXuLe.jpg");
//   opacity: 0.97
// }

.application-body{
  background-image: url("http://www.livedownloads.com/images/shows/wsp130627_01.jpg");
  opacity: 0.97;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

.logo-image {
  max-height: 60px;
}

.home-image {
  height: auto;
  max-width: 100%;
}

#chip-picture {
  max-height: 240px;
  width: auto;
}

.no-padding {
  padding: 0;
}

.select-wrapper input.select-dropdown {
  margin: 0;
}

.no-margin {
  margin-bottom: 0;
}

.opaque-background {
  opacity:0.8;
  background-color: black;
  color:white;
}

tbody tr:hover {
   color: black;
}

td img {
  height: 50px;
  width: 50px;
  alt: Logo;
}

.satisfy-font {
font-family: 'Satisfy', cursive;
}

.search-bar {
  opacity:0.8;
  background-color: black;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  input {
    min-width: 300px;
  }
  ::-webkit-input-placeholder {
  color: white;
  }
}

.pagination {
  background-color: black;
  color: white;
  li {
    color:white;
  }
}

.card {
  background-color: transparent;
  border-radius: 15px;
}

.venue-card {
  background-color: black;
  opacity: 0.8;
  color: white;
}

.black-shadow {
  text-shadow: 2px 2px black;
}

.teal-shadow {
  text-shadow: 1px 1px #039be5;
}

.cart-totals{
  padding-right: 10%;
  text-align:right;
}

h5 a {
  color:white;
  text-shadow: 1px 1px black;
  border-style: outset;
}
h4 a {
  color:white;
  text-shadow: 1px 1px black;
  border-style: outset;
}

.modal {
    position: absolute;
    overflow-y:auto;
    overflow-x:auto;
    border-radius: 0px;
}

label {
  font-size:1.5em;
  color: white;
  text-shadow: 1px 1px #039be5;
}

h2 {
  font-family: 'Satisfy', cursive;
  color: white;
  text-shadow: 1px 1px #039be5;
}

table.barby-barcode { border-spacing: 0; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 100px; }
td.barby-cell.on { background: #000; }

.user-profile {
  max-height: 700px;
  height: auto;
  opacity: 0.90;
}

.venue-profile {
  max-height: 700px;
  height: auto;
  opacity: 0.90;
}

.barcode {
  width: 10%;
  height: auto;
}